<js>
    this.nav = [
        {url: '~lessons/', link: 'Lessons'},
        {url: '~bols', link: 'Bols'},
        {url: '~misc', link: 'Notes'},
        {url: '~mantras', link: 'Mantras'},
        {url: '~other', link: 'Other Mantras'},
    ];

    _.each(this.nav, function(el) {
        if(this.navActive && el.link === this.navActive) {
            el.active = true;
        }
    }, this);
</js>

<section class="sidebar">
    <div class="wrapper">
        <a class="logo" href="/">Mridanga Lessons</a>
        <nav>
            <ul>
                {{#nav}}
                <li><a {{#active}}class="active"{{/active}} href="{{url}}">{{link}}</a></li>
                {{/nav}}
            </ul>
        </nav>
    </div>
</section><!-- sidebar -->
